body {
    background-color: #097969;
    font-family: "Roboto", sans-serif;
}

header {
    height: 100px;
    background-color: #023020;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img{
        width: 80px;
        padding: 10px;
    }

    nav{
        display: flex;
        gap: 1rem;
        a{
            text-decoration: none;
            color: #ededed;
            font-size: 1.75rem;
            font-weight: 300;
        }
    }

    & .logo{
        img{
            margin-left: 1rem;
        }
    }
}

.album-box {
    background-color: #5F9EA0;
    width: 90%;
    padding: 2rem 4rem 4rem;
}

.album_card {
    background-color: #023020;
    gap: 0.5rem;

    .title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 0.75rem;
    }
    .artist{
        font-weight: 200;
    }
}
